<html>
  <head>
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Points</th>
        <th>PIM</th>
      <tr>
      {{#data}}
      <tr>
        <td>{{firstName}} {{lastName}}</td>
        <td>{{city}} {{teamName}}</td>
        <td>{{goals}}</td>
        <td>{{assists}}</td>
        <td>{{points}}</td>
        <td>{{pim}}</td>
      </tr>
      {{/data}}
    </table>
  </body>
</html>